body
{
    background-color: #fdf6e3;
    color: #586e75;
    font-family: "Courier", fantasy, serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

strong
{
    font-size: 1.5em;
}

a
{
    text-decoration: none;
}

header
{
    left: 0;
    margin: 0;
    padding: 0;
    position: relative;
    top: 0;
}

#gate
{
    left: 0;
    margin: 0;
    padding: 0;
    position: relative;
    top: 0;
    width: 100%;
    z-index: -1;
}

#cerberus
{
    bottom: 1.5%;
    left: 5%;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 30%;
}

#password_input
{
    background-color: black;
    border: solid 0px black;
    bottom: 1.5%;
    margin: 0;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    color: #ccc;
    position: absolute;
    right: 39%;
}

#password_input:focus
{
    box-shadow: 0 0 15px 5px white;
}
